{% extends "base.html" %}
{% from 'bootstrap5/pagination.html' import render_pagination %}

{% block content %}
{% if current_user.username %}
    <h1>Hi, {{ current_user.username.capitalize() }}!</h1>
    <hr />
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    <h3>Recent posts</h3>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}

    {{ render_pagination(posts) }}

{% else %}
    <h1>Hi, unknown user!</h1>
    <h3>Log in to see posts..</h3>
{% endif %}
{% endblock %}